.buttonCommon {
    width: 15vw;
    height: 2.5vw;
    font-size: 1.2vw;
    color: #000;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 980px) {
    .buttonCommon {
        width: 15vw;
        height: 3.5vw;
        font-size: 2.2vw;
    }
}